---
export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'id'}},
  ];
}

// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import {getTranslations} from '../langs/translations.js';
import TheLinks from '../components/The/TheLinks.astro';

// Data Fetching: List all Markdown posts in the repo.
let lang = Astro.canonicalURL.pathname.split('/')[1];
let trans = getTranslations(lang)

let allPosts
switch (lang) {
	case "id":
		allPosts = await Astro.glob("./id/posts/*.md");
		break;
	default: 
		allPosts = await Astro.glob("./en/posts/*.md");
		break;
}

allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

let title = trans.index.welcome;
let description = trans.index.description;
let permalink = '/' + lang;



// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

---

<html lang={lang}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<BlogHeader />
		
		<div class="wrapper">
			<main class="content mb-80">
				<section class="mb-4 pt-8">
					<h1 class="font-bold text-2xl">{trans.index.welcome}</h1>
					<h2 class="text-xl">{trans.index.subtitle}</h2>
				</section>
				<TheLinks />
				<section class="grid gap-x-4 gap-y-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
					{allPosts.map((p) => <BlogPostPreview post={p} />)}
				</section>
			</main>
		</div>
	</body>
</html>
